*{
    padding: 0px;
    margin: 0px;   
}

body{
    background-color: #FAF8FF;
    font-family: 'Nunito';
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: calc(6vh + 1vw); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.div-header{
    width: calc(85vw + 20vh);
    height: calc(7vh + 1vw); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: calc(0.5vw + 1vh);
    height: calc(1vh + 0.5vw); 
}

.logo{
    width: calc(6.3vw + 4vh);
    height: calc(0.3vh + 1vw); 
}

.icons-links{
    width: calc(30vw + 20vh);
    height: calc(0.3vh + 1vw); 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-dop{
    display: flex;
    gap: calc(0.3vh + 0.3vw); 
    align-items: center;
}

.text-icons{
    font-size: calc(0.5vw + 0.7vh);
    text-decoration: none;
    color: #070A1C;
    font-weight: 900;
}

.div-logo{
    width: calc(6vw + 6vh);
    height: calc(0.3vh + 1vw); 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logout-button{
    width: calc(3.5vw + 3vh);
    height: calc(2.5vh + 1vw); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    border: 0.1vw solid #543C52;
    border-radius: calc(2.5vw + 2.6vh) ;
}

.logout-icon{
    width: calc(0.8vw + 0.7vh);
    height: calc(1.2vh + 0.5vw); 
}

.logout-text{
    font-size: calc(0.5vw + 0.6vh);
    color: #543C52;
    font-weight: 600;
}

.padding-logout{
    width: calc(4w + 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
