{% extends "base.html" %}
{% load static %}

{% block title %} Confirmation code {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}

{% block content %} 
    <div class="center-div">
        <form class="user-code-form" method="post">
            {% csrf_token %}
            <p class="main-confirm">Підтвердження</p>

            <div class="center-data">
                <p class="text-data">Введіть код:</p>
                <input class = "data-input" type = "text">
            </div>

            <button class="create-button">Створити акаунт</button>
        </form>
    </div>
{% endblock %}