{% extends "base.html" %}
{% load static %}

{% block title %} Confirmation code {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}

{% block content %} 
    <div class="center-div">
        <form class="user-code-form" method="post">
            {% csrf_token %}
            <p class="main-confirm">Підтвердження пошти</p>
            <p class="send-text">Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт</p>

            <div class="center-data">
                <p class="text-data">Код підтвердження</p>
                <div class="all-codes">

                    <div class="twice-code">
                        {{ form.code_1 }}
                        {{ form.code_2 }}
                    </div>

                    <div class="twice-code">
                        {{ form.code_3 }}
                        {{ form.code_4 }}
                    </div>

                    <div class="twice-code">
                        {{ form.code_5 }}
                        {{ form.code_6 }}
                    </div>
                </div>
            </div>

            <button class="create-button">Підтвердити</button>
            <a href="{% url 'register' %}" class="back-link">Назад</a>
        </form>
    </div>
{% endblock %}