{% extends "base.html" %}
{% load static %}

{% block title %} Registration page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}


{% block content %} 
    <div class="center-div">
        <form class="form-register">
            
            <div class="links-div">
                <a href="/user/registration" class="reg-link">Рєєстрація</a>
                <a href="/user/login" class="login-link">Авторизація</a>
            </div>
            
            <p class="join-text">Приєднуйся до World IT</p>
            <div class = "data-reg">

                <div class="center-data noimg">
                    <p class="text-data">Ім'я</p>
                    <input class = "data-input noimg" type = "text" placeholder="Введи ім'я">
                </div>

                <div class="center-data noimg">
                    <p class="text-data">Електронна пошта</p>
                    <input class = "data-input noimg" type = "text" placeholder="you@example.com">
                </div>

                <div class="center-data">
                    <p class="text-data">Пароль</p>
                    <div class="input-eye">
                        <input class = "data-input img" type = "text" placeholder="Введи пароль">
                        <button class="button-eye" id="eyeButton">
                            <img src="{% static 'images/eye.png' %}" alt="" class="eye-img" >
                        </button>
                    </div>
                    
                </div>

                <div class="center-data">
                    <p class="text-data">Підтверди пароль</p>
                     <div class="input-eye">
                        <input class = "data-input img" type = "text" placeholder="Повтори пароль">
                        <button class="button-eye" id="eyeButton">
                            <img src="{% static 'images/eye.png' %}" alt="" class="eye-img" >
                        </button>
                    </div>
                </div>
            </div>
            <button class="reg-button">Створити акаунт</button>
        </form>
    </div>
{% endblock %}