*{
    padding: 0px;
    margin: 0px;   
}

body{
    background-color: #FAF8FF;
    font-family: 'Nunito';
    font-weight: bold;
    overflow-x: hidden;
    color: #543C52;
    background-color: #FAF8FF;
}

.center-div{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register{
    width: 33vw;
    height: 70vh;
    border: 0.1vw solid #543C52;
    border-radius: 3%;
    background-color: #FFFFFF;
}

.dop-between{
    margin-top: 2.5vh;
    width: 33vw;
    height: 64vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.data-form{
    width: 33vw;
    height: 47vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.data-input{
    width: 28vw;
    height: 6vh;
    border-radius: 0.8vw;
    border: none;
    background-color: #E2E0E8;
    box-shadow: 0 -3px 1.7px rgba(187, 187, 200, 100%);
}

.text-data{
    font-size: calc(0.5vw + 0.7vh);
}

.center-data{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.confirmation-code{
    width: 15vw;
    height: 6vh;
    border: none;
    background-color: #543C52;
    color: white;
    font-size: calc(0.5vw + 0.7vh);
    border-radius: 0.8vw;
    

}

.reg-text{
    font-size: calc(1.1vw + 1.5vh);
}